@import"reset.css";
.wrapper{
    max-width:1208px;
    margin: 0 auto;
}
.header {
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
    gap: 32px;
    list-style:none;
}

.header {
    height: 120px;
    align-items: center;
}
.logo {
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #192252;
}

.nav_link {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #192252;
}

.nav_link a {
    text-decoration: none;
    color:#192252;
}

.get__started {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    padding: 14px 16px;
    background-color: #0E1734;
    border-radius: 4px;
    transition: background-color 300ms ease-in-out;
    border: 0px;
}

.get__started:hover {
    background: #643a79;
    transition: background-color 300ms ease-in-out;
}

.nav_link a:hover {
    color: #643a79;
    transition: background-color 300ms ease-in-out;
}
.description {
    display: flex;
    align-items: center;
    height: 845px;
}
.description__left {
     width: 587px;
     margin-right: 24px;
}

section.description .description__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 150%;  
    letter-spacing: -0.01em;  
    color: #192252;
}
section.description .description__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #848FAC;
    margin-top: 24px;
    width: 485px;
}
section.description .description__button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding:  16px 32px;
    background-color: #192252;
    transition: background-color 300ms ease-in-out; 
    border-radius: 4px;
    border:0;
    margin-top: 32px;
}
section.description .description__button:hover {
    background:#643a79;
    transition: background-color 300ms ease-in-out;
}
.description__right .description__img {
    margin-right: 24px;
}
.description__right .description__img:nth-child(3) {
    margin-right: 0px;
}
.description__right .description__img:nth-child(2) {
    margin-top: 161px;
}
.description-hotel {
    display: flex;
    align-items: center;
    height: 736px;
}
.description-hotel__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #192252;
}  
.description-hotel__right {
    width: 690px;
    margin-left: 126px;   
}
.description-hotel__paragraph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #848FAC;
    margin-top: 24px;  
    width: 584px;
}
.description-hotel__subparagraph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #848FAC;
    margin-top: 16px;
    width: 584px;
}
.description-hotel__button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px; 
    color: #FFFFFF;  
    padding: 16px 32px;  
    background-color: #0E1734;
    border-radius: 4px;
    margin-top: 32px;
    transition: background-color 300ms ease-in-out;
    border: 0;
}
.description-hotel__button:hover {
    background: #643a79;
    transition: background-color 300ms ease-in-out;
}
.description-event {
    display: flex;
    align-items: center;
    height: 384px;
    margin-top: 80px;
}
.description-event__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: -0.01em;  
    color: #192252; 
    width: 302px;  
}
.description-event__paragraph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #848FAC; 
    margin-top: 24px; 
    width: 584px;
    margin-right: 126px; 
}
.description-food__left {
    display: flex;
    align-items: center;
    height: 384px;
    margin-top: 32px;
}
.description-food__title {
    margin-left: 126px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 150%; 
    letter-spacing: -0.01em;  
    color: #192252;   
}
.description-food__paragraph {
    margin-left: 126px;
    margin-top: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;  
    color: #848FAC; 
    width: 584px;  
}
.description-rooms{
    margin-top: 160px;
}

.description-rooms__upper {
    text-align: center;
}
.description-rooms__title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: #192252;
}
.description-rooms__title--24px {
    font-size: 24px;
    line-height: 36px;
    margin-top: 32px;
}
.description-rooms__paragraph {
    width: 588px;
    margin: 24px auto 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #848FAC;
}
.description-rooms__button {
    font-family: 'Inter';
    background: #0E1734;
    border-radius: 4px;
    color: #fff;
    padding: 16px 32px;
    border: 0;
    margin-top: 32px;
    transition: background-color 300ms ease-in-out;
}
.description-rooms__down {
    margin-top: 88px;
    display: flex;
    gap: 24px;
}
.description-rooms__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #848FAC;
    margin-top: 16px;
}
.description-rooms__link{
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #424F7B;
    text-decoration:none;
    margin-top: 32px;
}

.link__text, .link__img {
    display: inline;

}

.link__text {
    margin-right: 13px;
}

.buy-room {
    display: flex;
    /* justify-content: flex-start; */
    justify-content: space-between;
    height: 596px;
}
.buy-room__title {
    margin-top: 162px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #424F7B;
}
.buy-room__question {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;   
    text-align: center;
    letter-spacing: -0.01em;  
    color: #192252;
    margin-top: 12px;
    width: 407px;
}
.buy-room__paragraph {
    margin-top: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%; 
    color: #848FAC;
    width: 384px;
}
.buy-room__button{
    margin: 32px 24px 0 0;
    padding: 16px 32px;
    background: #0E1734;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;   
    color: #FFFFFF;
    border: 0;
    transition: background-color 300ms ease-in-out;
}
.buy-room__button:hover {
    background: #643a79;
    transition: background-color 300ms ease-in-out;
}
.buy-room__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;   
    color: #0E1734;
}
.dropdown {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
}
.dropdown__item {
    width: 588px;
    height: 100px;
    left: 732px;
    top: 80px;
    filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.07));
    background: #FFFFFF;
    border-radius: 4px;   
    /* margin-left: 207px; */
    margin-top: 80px;
}
.dropdown__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #424F7B;
    width: 339px;
    margin: 32px 36px 0px ;
}
.dropdown__img {
    position: relative;
    left: 512px;
    top: -35px;
}
.dropdown__img2 {
    position: relative;
    left:479px ;
    top: -34px;
}
.dropdown__item--188px {
    height: 188px; 
    margin-top: 24px;
}
.dropdown__title--357px {
    width:357px ;
    margin: 38px 36px 0px;
}
.dropdown__text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;  
    color: #848FAC; 
    margin-left:36px;
    width: 516px;
}
.dropdown__text {
    position: relative;
    top: -16px;
}
.dropdown__img3 {
    position: relative;
    left: 512px;
    top: -35px;
}
.dropdown__img4 {
    position: relative;
    left:479px ;
    top: -35px;
}
.dropdown__title--24px {
    margin-top: 24px;
}
.dropdown__title--230px {
    width: 230px;
    margin:32px 36px 0px;
}
.сustomer-feedback {
    display: flex;
    flex-direction: column;
    height: 627px;
}
.сustomer-feedback__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: -0.01em; 
    color: #192252;
    margin: 80px auto 0;
}
.сustomer-feedback__img {
    width: 120px;
    height: 120px;
    margin: 62px 540px 0px;
}
.сustomer-feedback__paragraph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%; 
    text-align: center;  
    color: #848FAC;
    width:793.06px;
    margin: 44px 204px 0px;
}
.сustomer-feedback__name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #192252;
    margin:40px 527px 0px;
}
.js {
    background-color: #FFFFFF;
    overflow: hidden;
    height: 116px;
    width: 1192px;
}  
svg {
    width: 100%;
    height: 100%;
    visibility: hidden;
}
.wrapper-basement {
    background: #0B265A;
    
}
.basement {
    display: flex;
    max-width: 1208px;
    margin: 0 auto;
    height: 444px;
    
}
.basement-left {
    width:585px ;
}
.basement-left__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px; 
    letter-spacing: -0.01em; 
    color: #FFFFFF;
    margin-top: 120px
}
.basement-left__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;  
    color: #D9DBDE;
    margin-top: 13px;
    width: 186px;
}
.basement-left__twitter{
    margin-top: 39px;
}
.basement-left__instagram {
    margin: 36px 24px 0px;
}
.basement-left___facebook{
    position: relative;
    top: 17px;
}
.basement-right__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    margin-top: 120px;

}
.basement-right__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-top: 24px;
    color: #D9DBDE;
    display: block;
}
html {
    scroll-behavior: smooth;
}
.basement-right__title--100px {
    margin:120px 0px 0px 100px;
}
.basement-right__link--100px {
    margin:24px 0px 0px 100px;
}
.basement-right__title--141px {
    margin: 120px 0px 0px 141px;
}
.basement-right__link--141px {
    margin: 24px 0px 0px 141px;
}